
<!DOCTYPE html>
<html lang="en">
<head>
<% include ./partials/head %>
</head>
<body>
 <header class="bg-white py-1">
    <div class="container">
            <% include ./partials/navbar %>
    </div>
 </header>
   
<!-- header -->
<%- body -%>
<!-- //subscribe -->


<!-- copyright -->

<% include ./partials/footer %>
</body>
</html>