
<!DOCTYPE html>
<html lang="en">
<head>
<title>Home | My Library :: Firmtorch</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Work Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/fontawesome-all.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800&amp;subset=devanagari,latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Niramit:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,thai,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	
</head>
<body>

<!-- header -->
<header class="bg-white py-1">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light">
			
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<h1 class="text-center">
				<a class="navbar-brand" href="index.html"><i class="fa fa-pencil"></i>My Library</a>
			</h1>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-lg-4 mr-auto">
				  <li class="nav-item">
					<a class="nav-link" href="contact.html">Contact Us</a>
				  </li>
				    <li class="nav-item">
					<a class="nav-link" href="faq.html">Faq</a>
				  </li>
				</ul>
				<div class="header-right">
					<a href="signin.html" class="signin mr-4"> Sign in <i class="fas fa-sign-in-alt"></i></a>
					<a href="register.html" class="contact">Get Started</a>
				</div>
			</div>
		</nav>
	</div>
</header>
<!-- //header -->

<!-- banner -->
<section class="banner">
	<div class="container">
		<div class="row banner-grids">
			<div class="col-lg-6 banner-info">
				<h2 class="">The Library</h2>
				<h3 class="mb-3">Environment</h3>
				<p class="mb-4">Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed</p>
				
			</div>
			<div class="col-lg-6 col-md-9 banner-image">
				<img src="images/banner.png" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</section>
<!-- //banner -->

<!-- banner bottom -->
<section class="banner-bottom py-5">
	<div class="container py-md-3">
		<div class="heading">
			<h3 class="head text-center">The Library Procession </h3>
			<p class="my-3 head text-center">Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
		</div>
		<div class="row bottom_grids text-center mt-5 pt-3">
			<div class="col-lg-4 col-md-6">
				<img src="images/s1.png" alt="" class="img-fluid"/>
				<h3 class="my-3">Statistics</h3>
				<p class="mb-4"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="images/s2.png" alt="" class="img-fluid"/>
				<h3 class="my-3">Privacy</h3>
				<p class="mb-4"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
			</div>
			<div class="col-lg-4">
				<img src="images/s3.png" alt="" class="img-fluid"/>
				<h3 class="my-3">Organiztion</h3>
				<p class="mb-4"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed</p>
			</div>
		</div>
	</div>
</section>
<!-- banner bottom -->

<!-- about -->
<section class="about py-5">
	<div class="container">
		<div class="inner-sec-w3ls py-lg-5 py-3">
			<div class="heading">
				<h3 class="head text-center">What Do You Need? </h3>
				<p class="my-3 head text-center"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
			</div>
			<div class="row mt-lg-5 mt-5 pt-md-3">
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body">
							<div class="icon-service"><img src="images/s1.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Growth</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body">

							<div class="icon-service"><img src="images/s2.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Security</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body">
							<div class="icon-service"><img src="images/s3.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Company</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt..</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body mb-md-0">
							<div class="icon-service"><img src="images/s4.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title"> Help Line</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt..</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body mb-md-0">
							<div class="icon-service"><img src="images/s5.png" alt="" class="img-fluid"/></div>

							<div class="icon-service-info">
								<h4 class="card-title">Awards</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body mb-md-0">
							<div class="icon-service"><img src="images/s6.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Mobile App</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt..</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
<!-- //about -->

<!-- improvements -->
<section class="stats bg-light py-5">
	<div class="container py-md-5">
		<div class="heading">
			<h3 class="head text-center">Industry trusted improvements</h3>
			<p class="my-3 head text-center">Welcome, we are delighted you checked in on our platfromt.Welcome, we are delighted you checked in on our platfromt..</p>
		</div>
		<div class="row text-center mt-5"> 
			<div class="col-md-4">
				<div class="bg-white p-4">
					<h4>100%</h4>
					<p class="my-3"> Welcome, we are delighted you checked in on our platfromt.Wel. </p>
				</div>
			</div>
			<div class="col-md-4 mt-md-0 mt-3">
				<div class="bg-white p-4">
					<h4>100%</h4>
					<p class="my-3"> Welcome, we are delighted you checked in on our platfromt. </p>
				</div>
			</div>
			<div class="col-md-4 mt-md-0 mt-3">
				<div class="bg-white p-4">
					<h4>100%</h4>
					<p class="my-3"> Welcome, we are delighted you checked in on our platfromt.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //improvements -->

<!-- subscribe -->
<section class="subscribe py-5">
	<div class="container py-md-5">
		<div class="heading">
			<h3 class="head text-center">Sign in to get started</h3>
			<p class="my-3 head text-center"> Welcome, we are delighted you checked in on our platft..</p>
		</div>
		<form action="#" method="post" class="mt-5">
			<div class="d-flex mb-2">
				<input type="email" name="Email" placeholder="Enter your email..." required="">
				<input type="submit" value="Get Started">
			</div>
		<span class="text-white">We'll never share your email with anyone else.</span>
		</form>
	</div>
</section>
<!-- //subscribe -->


<!-- copyright -->
<section class="copy-right bg-light py-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-9">
				<p class="">© 2018 My Library. All rights reserved | Design by
					<a href="#"> Firmtorch.</a>
				</p>
			</div>
			<div class="col-lg-5 col-md-3">
				<ul class="social-iconsv2 agileinfo d-flex">
					<li>
						<a href="#">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="fab fa-twitter-square"></i>
						</a>
					</li>	
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- copyright -->

    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- //js -->
	
	<!-- dropdown nav -->
    <script>
        $(document).ready(function() {
            $(".dropdown").hover(
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function() {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

	<script src="js/smoothscroll.js"></script><!-- Smooth scrolling -->


</body>
</html>