<% layout('boilerplate') %>


<!-- //header -->

<!-- banner -->
<section class="banner">
	<div class="container">
		<div class="row banner-grids">
			<div class="col-lg-6 banner-info">
				<h2 class="">The Library</h2>
				<h3 class="mb-3">Environment</h3>
				<p class="mb-4">Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed</p>
				
			</div>
			<div class="col-lg-6 col-md-9 banner-image">
				<img src="images/banner.png" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</section>
<!-- //banner -->

<!-- banner bottom -->
<section class="banner-bottom py-5">
	<div class="container py-md-3">
		<div class="heading">
			<h3 class="head text-center">The Library Procession </h3>
			<p class="my-3 head text-center">Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
		</div>
		<div class="row bottom_grids text-center mt-5 pt-3">
			<div class="col-lg-4 col-md-6">
				<img src="images/s1.png" alt="" class="img-fluid"/>
				<h3 class="my-3">Statistics</h3>
				<p class="mb-4"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
			</div>
			<div class="col-lg-4 col-md-6">
				<img src="images/s2.png" alt="" class="img-fluid"/>
				<h3 class="my-3">Privacy</h3>
				<p class="mb-4"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
			</div>
			<div class="col-lg-4">
				<img src="images/s3.png" alt="" class="img-fluid"/>
				<h3 class="my-3">Organiztion</h3>
				<p class="mb-4"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed</p>
			</div>
		</div>
	</div>
</section>
<!-- banner bottom -->

<!-- about -->
<section class="about py-5">
	<div class="container">
		<div class="inner-sec-w3ls py-lg-5 py-3">
			<div class="heading">
				<h3 class="head text-center">What Do You Need? </h3>
				<p class="my-3 head text-center"> Welcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbedWelcome, we are delighted you checked in on our platfrom. Primarily Your concern is concerbed.</p>
			</div>
			<div class="row mt-lg-5 mt-5 pt-md-3">
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body">
							<div class="icon-service"><img src="images/s1.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Growth</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body">

							<div class="icon-service"><img src="images/s2.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Security</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body">
							<div class="icon-service"><img src="images/s3.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Company</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt..</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body mb-md-0">
							<div class="icon-service"><img src="images/s4.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title"> Help Line</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt..</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>
				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body mb-md-0">
							<div class="icon-service"><img src="images/s5.png" alt="" class="img-fluid"/></div>

							<div class="icon-service-info">
								<h4 class="card-title">Awards</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt.</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 col-md-6 about-in text-left">
					<div class="card">
						<div class="card-body mb-md-0">
							<div class="icon-service"><img src="images/s6.png" alt="" class="img-fluid"/></div>
							<div class="icon-service-info">
								<h4 class="card-title">Mobile App</h4>
								<p class="card-text">Welcome, we are delighted you checked in on our platfromt..</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
<!-- //about -->

<!-- improvements -->
<section class="stats bg-light py-5">
	<div class="container py-md-5">
		<div class="heading">
			<h3 class="head text-center">Industry trusted improvements</h3>
			<p class="my-3 head text-center">Welcome, we are delighted you checked in on our platfromt.Welcome, we are delighted you checked in on our platfromt..</p>
		</div>
		<div class="row text-center mt-5"> 
			<div class="col-md-4">
				<div class="bg-white p-4">
					<h4>100%</h4>
					<p class="my-3"> Welcome, we are delighted you checked in on our platfromt.Wel. </p>
				</div>
			</div>
			<div class="col-md-4 mt-md-0 mt-3">
				<div class="bg-white p-4">
					<h4>100%</h4>
					<p class="my-3"> Welcome, we are delighted you checked in on our platfromt. </p>
				</div>
			</div>
			<div class="col-md-4 mt-md-0 mt-3">
				<div class="bg-white p-4">
					<h4>100%</h4>
					<p class="my-3"> Welcome, we are delighted you checked in on our platfromt.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //improvements -->

<!-- subscribe -->
<section class="subscribe py-5">
	<div class="container py-md-5">
		<div class="heading">
			<h3 class="head text-center">Sign in to get started</h3>
			<p class="my-3 head text-center"> Welcome, we are delighted you checked in on our platft..</p>
		</div>
		<form action="#" method="post" class="mt-5">
			<div class="d-flex mb-2">
				<input type="email" name="Email" placeholder="Enter your email..." required="">
				<input type="submit" value="Get Started">
			</div>
		<span class="text-white">We'll never share your email with anyone else.</span>
		</form>
	</div>
</section>